Repository serenity-rs/songbird, pull requests merged in 2020-12, with the labels that each got.

#23 Driver: Handle receiving large non-standard packets
  src/driver/tasks/udp_rx.rs
Labels: driver, fix

#20 Cleanup of leaky types, nested results
  examples/twilight/src/main.rs
  src/driver/connection/error.rs
  src/driver/mod.rs
  src/driver/tasks/mixer.rs
  src/error.rs
  src/handler.rs
  src/input/ffmpeg_src.rs
  src/input/ytdl_src.rs
  src/lib.rs
  src/manager.rs
  src/tracks/error.rs
  src/tracks/handle.rs
  src/tracks/mod.rs
  src/tracks/queue.rs
Labels: breaking, documentation, gateway, tracks

#28 Added source_url and thumbnail fields to Metadata
  src/input/metadata.rs
Labels: enhancement, tracks

#31 handle youtube-dl metadata parsing errors + Json parsing errors now contain the parsed text
  src/input/error.rs
  src/input/ffmpeg_src.rs
  src/input/ytdl_src.rs
Labels: enhancement
