Repository serenity-rs/songbird, pull requests merged in 2021-04, with the labels that each got.

#53 Driver: Move `Bitrate` import out of crate root.
  examples/serenity/voice_storage/src/main.rs
  src/driver/mod.rs
  src/driver/tasks/message/core.rs
  src/driver/tasks/message/mixer.rs
  src/lib.rs
Labels: breaking, driver, enhancement

#54 Events: Break out and non-exhaust context body structs
  examples/serenity/voice_receive/src/main.rs
  src/driver/connection/mod.rs
  src/driver/tasks/mod.rs
  src/driver/tasks/udp_rx.rs
  src/events/context/data/connect.rs
  src/events/context/data/mod.rs
  src/events/context/data/rtcp.rs
  src/events/context/data/speaking.rs
  src/events/context/data/voice.rs
  src/events/context/internal_data.rs
  src/events/context/mod.rs
  src/events/core.rs
  src/events/mod.rs
  src/events/store.rs
Labels: breaking, documentation, enhancement, events

#63 Driver: Fix crash on `.leave()`
  src/driver/tasks/mixer.rs
Labels: driver, fix

#61 Use symphonia::io::MediaSource for Reader extensions
  Cargo.toml
  src/input/dca.rs
  src/input/reader.rs
Labels: breaking, enhancement, input
