Repository serenity-rs/songbird, pull requests merged in 2021-06, with the labels that each got.

#78 Driver: Fix for busy-wait in WS thread.
  src/ws.rs
Labels: driver, fix

#81 Driver: Automate (re)connection logic
  src/config.rs
  src/driver/connection/error.rs
  src/driver/connection/mod.rs
  src/driver/mod.rs
  src/driver/retry/mod.rs
  src/driver/retry/strategy.rs
  src/driver/tasks/message/core.rs
  src/driver/tasks/mod.rs
  src/driver/tasks/ws.rs
  src/events/context/data/connect.rs
  src/events/context/data/disconnect.rs
  src/events/context/data/mod.rs
  src/events/context/internal_data.rs
  src/events/context/mod.rs
  src/events/core.rs
  src/handler.rs
  src/info.rs
Labels: breaking, driver, enhancement

#83 Fix for underflow by clamping
  src/input/metadata.rs
Labels: fix, input
